<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title  >{{notification['nametype']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-end ion-padding-start">
  <ion-text class="ion-text-center" color="primary">
    <h1>{{notification.title}}</h1>
  </ion-text>
  <ion-text class="ion-text-justify" text-wrap>
    {{notification.text}}
  </ion-text>
  <ion-list *ngIf="attachment != null">
    
    <ion-item button lines="none" (click)="download()"  text-wrap>
      <ion-img slot="start" class="file-icon" src="../../../assets/file-icons/SVG/{{attachment.substr(attachment.lastIndexOf('.') + 1)}}.svg"></ion-img>
      <ion-label >{{attachment.substr(12)}}</ion-label>
      
    </ion-item>

  </ion-list >
  <ion-row class="footer" lines="none">
    <ion-col size="6">
      <ion-button (click)="tracking()" expand="block" fill="clear" shape="round">
        Seguimiento
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="delet()" expand="block" fill="clear" color="danger" shape="round">
        Eliminar
      </ion-button>   
    </ion-col>
  </ion-row>
</ion-content>