.noticia-opciones{
    font-size: 25px !important;
    position: absolute;
    right: -10px;
    top: -18px;
}
.noticia-source-name {
    font-size: 12px;
    color: lightslategrey;
}