
<ion-card-header>
  <ion-card-subtitle>
    <span (click)="open_modal(notification)" class="notification-source-name">{{notification.nametype}} | {{notification.created}}</span>
    <div class="notification-opciones">
      <ion-button (click)="favorite()" color="warning" fill="clear" >
        <ion-icon slot="icon-only" [name]="favorito? 'star' : 'star-outline'"></ion-icon>
      </ion-button>
    </div>
    
  </ion-card-subtitle>
  <ion-card-title (click)="open_modal(notification)" >{{notification.title}}</ion-card-title>
</ion-card-header>
<!-- <ion-card-title class="ion-padding">{{notification.title}}</ion-card-title>
<ion-card-subtitle class="ion-text-justify ion-padding-start ion-padding-end" text-wrap>{{content}}</ion-card-subtitle> -->
<ion-card-content (click)="open_modal(notification)">
  <p text-wrap >{{content}}</p>
  <ion-list *ngIf="attachment != null">
    <ion-item>
      <ion-img class="file-icon" src="../../../assets/file-icons/SVG/{{attachment.substr(attachment.lastIndexOf('.') + 1)}}.svg"></ion-img>
      <ion-label >{{attachment.substring(12)}}</ion-label>
    </ion-item>
  </ion-list>
</ion-card-content>