<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="edit_userForm" (ngSubmit)="onSubmit()" #fUser="ngForm">

    <ion-item>
      <ion-label position="floating">Rol - {{user.role_name}}</ion-label>
      <ion-select formControlName="role" multiple="false" placeholder="Selecciona un rol">
        <ion-select-option  value="1" >Administrador</ion-select-option>
        <ion-select-option  value="2" >Usuario</ion-select-option>
      </ion-select>     
    </ion-item>

    <ion-item>
      <ion-label position="floating">Grupo - {{user.group_name}}</ion-label>
      <ion-select formControlName="group" [compareWith]="compareWith" value="{{group}}" multiple="false" placeholder="Selecciona un grupo">
        <ion-select-option *ngFor="let group of groups " [value]="group.id">{{group.name}}</ion-select-option>
      </ion-select>    
    </ion-item>

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="user"  maxlength="9"  type="text" [(ngModel)]="user.user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"  maxlength="25"  type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="surname"  maxlength="25"  type="text" [(ngModel)]="user.surname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-Mail </ion-label>
      <ion-input formControlName="email"  maxlength="50"  type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-toggle formControlName="active" [(ngModel)]="user.is_active"></ion-toggle>
    </ion-item>

    <ion-button class="footer" expand="full" color="primary" type="submit" [disabled]="edit_userForm.invalid">
      Editar usuario
    </ion-button>
  </form>
</ion-content>
