ion-col {
  border-bottom: 2px solid #aeb7ca;
  // border-left: 2px solid white;
  // border-right: 2px solid white;
  padding-top: 11px;
  padding-bottom: 8px;
}

.date {
  text-align: center;
}

.header-success {
  background-color: #0fc766;
  color: white;
  text-align: center;
}

.header-danger {
  background-color: #ff5959;
  color: white;
  text-align: center;
}