<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{notification['title']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #cabeceraTabla>
  <ion-row>
    <ion-col size="2"><b>Usuario</b></ion-col>
    <ion-col size="3"><b>Fecha lectura</b> </ion-col>
    <ion-col size="3"><b>Fecha descarga</b> </ion-col>
  </ion-row>
</ng-template>

<div class="inner-content">

  <ion-grid>

    <ion-item lines="bottom">
      <ion-label>
        <h1><b>{{dests}}</b> - Destinatarios</h1>
      </ion-label>
    </ion-item>

    <!-- <ion-row>
      <ion-col size="6"><b>Usuario</b></ion-col>
      <ion-col size="3"><b>Fecha lectura</b> </ion-col>
      <ion-col size="3"><b>Fecha descarga</b> </ion-col>
    </ion-row>

    <ion-row *ngFor="let user_notification of users_notifications">
      <ion-col size="6">{{user_notification.nombre}}</ion-col>
      <ion-col class="date" size="3">{{user_notification.datetime_read ? (user_notification.datetime_read | date:'dd/MM/yyyy hh:mm'):'--'    }}</ion-col>
      <ion-col class="date" size="3">{{user_notification.datetime_downloaded ? (user_notification.datetime_downloaded | date:'dd/MM/yyyy hh:mm'):'--'}}</ion-col>
    </ion-row> -->

    <ion-item lines="none">
      <ion-label>

        <h2><b>{{no_leidos.length}}</b> - No Leídos</h2>

      </ion-label>
    </ion-item>

    <ion-row  class="header-danger">
      <ion-col size="12"><b>USUARIO</b></ion-col>
    </ion-row>

    <ion-row *ngFor="let no_leido of no_leidos">
      <ion-col size="12">{{no_leido.nombre}}</ion-col>
      
    </ion-row>

    <ion-item lines="none">
      <ion-label>

        <h2><b>{{leidos.length}}</b> - Leídos</h2>

      </ion-label>
    </ion-item>

    <ion-row class="header-success">
      <ion-col class="ion-text-center" color="white" size="6"><b>USUARIO</b></ion-col>
      <ion-col size="3"><b>FECHA LECTURA</b> </ion-col>
      <ion-col size="3"><b>FECHA DESCARGA</b> </ion-col>
    </ion-row>

    <ion-row *ngFor="let leido of leidos">
      <ion-col size="6">{{leido.nombre}}</ion-col>
      <ion-col class="date" size="3">{{leido.datetime_read ? (leido.datetime_read | date:'dd/MM/yyyy hh:mm'):'--' }}
      </ion-col>
      <ion-col class="date" size="3">{{leido.datetime_downloaded ? (leido.datetime_downloaded | date:'dd/MM/yyyy
        hh:mm'):'--'}}</ion-col>
      
    </ion-row>

  </ion-grid>

</div>