<ion-content>
  <ion-searchbar placeholder="Filtra Notificaciones" inputmode="search" type="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="focus"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="refresh">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Estira para refrescar"
      refreshingSpinner="circles"
      refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list lines="none">
  
    <ion-card *ngFor="let n of notifications" class="ion-padding-bottom">

      <app-notification-admin [notification]="n" *ngIf="admin;else notification" ></app-notification-admin>
      
      <ng-template #notification>
        <app-notification *ngIf="!admin" [notification]="n" ></app-notification>
      </ng-template>
      
    </ion-card>
  
  </ion-list>
</ion-content>