<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title  >{{notification['nametype']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-end ion-padding-start">
  <ion-text class="ion-text-center" color="primary">
    <h1>{{notification.title}}</h1>
  </ion-text>
  <ion-text class="ion-text-justify" text-wrap>
    {{notification.text}}
  </ion-text>
  <ion-list *ngIf="attachment != null">
    <ion-item lines="none">
      <ion-checkbox slot="start" (ionChange)="checkboxChanged($event)" ></ion-checkbox>
      <p class="texto-gris" >Estoy de acuerdo al ticar que leeré los contenidos del siguiente archivo adjunto.</p>
    </ion-item>
    <ion-item lines="none" [disabled]="!terminosAceptados" (click)="download()"  text-wrap>
      <ion-img slot="start" class="file-icon" src="../../../assets/file-icons/SVG/{{attachment.substr(attachment.lastIndexOf('.') + 1)}}.svg"></ion-img>
      <ion-label >{{attachment.substr(12)}}</ion-label>
      
    </ion-item>
    <p *ngIf="!terminosAceptados" class="texto-gris">Es necesario aceptar los términos de descarga primero</p>
  </ion-list>
</ion-content>
