<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{user.name+" "+user.surname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      
      <ion-label position="stacked"><ion-icon slot="start" name="mail"></ion-icon> E-mail</ion-label>
      <p text-wrap >{{user.email}}</p>

    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rol</ion-label>
      <p>{{user.role_name}}</p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Grupo</ion-label>
      <p>{{user.group_name}}</p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Última conexión</ion-label>
      <p>{{user.last_online}}</p>
    </ion-item>

    <ion-item>
      <ion-label class="flex-20">Activo: </ion-label>
      <ion-icon name="{{user.is_active? 'checkmark-circle': 'close-circle'}}"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label class="flex-20">Conectado: </ion-label>
      <ion-icon name="{{user.is_online? 'checkmark-circle': 'close-circle'}}"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
