<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{user.name+" "+user.surname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      
      <ion-label position="floating"><ion-icon slot="start" name="mail"></ion-icon> E-mail</ion-label>
      <p text-wrap >{{user.email}}</p>

    </ion-item>

    

  </ion-list>

</ion-content>
