<app-header [add]="true" title="Tipos"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="refresh">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Estira para refrescar"
      refreshingSpinner="circles"
      refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item color="{{type.is_active? '':'danger'}}" *ngFor="let type of types">
      <ion-label button (click)="open_modal(type)">{{type.name}}</ion-label>
      <ion-button (click)="open_menu(type, $event)" expand="block" fill="clear" shape="round">
        <ion-icon slot="icon-only" color="{{type.is_active? '':'light'}}" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
