<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="restoreForm" (ngSubmit)="onSubmit()" #fRestore="ngForm">
    <ion-item>
      <ion-label position="floating">Usuario <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="user" placeholder="Introduce tu usuario" type="text"></ion-input>
    </ion-item>
    <ion-button *ngIf="!hide" block color="primary" type="submit" [disabled]="restoreForm.invalid">
      Enviar
    </ion-button>
  </form>

  <div *ngIf="hide">
    <ion-item>
      <ion-label position="floating">Código de reseteo<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required placeholder="Tú código aquí" [(ngModel)]="resetCode" type="text"></ion-input>
    </ion-item>
    <ion-button (click)="validateResetCode()" expand="block" fill="clear" shape="round">
      Confirmar código
    </ion-button>
  </div>
</ion-content>