/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.file-icon {
  width: 25px;
  padding-right: 5px;
}

.centered {
  margin-left: auto;
  margin-right: right;
}

.notification-opciones {
  font-size: 25px !important;

  position: absolute;

  right: -10px;

  top: -18px;
}

.notification-source-name {
  font-size: 12px;

  color: lightslategrey;
}

ion-modal.fullscreen {
  &.bottom {
    align-items: flex-end;
  }

  --height: auto;

  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .inner-content {
      max-height: 80vh;
      overflow: auto;
      padding: 10px;
    }
  }
  --width: 65%;
  --border-radius: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
}
.active-button ion-icon.action-sheet-icon.sc-ion-action-sheet-md.md.hydrated {
  color: #008000;
  &[aria-label="close circle"] {
    color: #c50000;
  }  
}

button.action-sheet-button.ion-activatable.ion-focusable.action-sheet-destructive.trash-button.sc-ion-action-sheet-md {
  color: red;
  --color: red;
}

ion-label.flex-20 {
  flex: 0 0 20%;
}

.texto-gris{
  font-size: 12px;

  color: lightslategrey;
}