<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"> <ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Reestablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" #fPassword="ngForm" >
    <ion-label class="ion-padding">La contraseña debe cumplir con lo siguiente:</ion-label>
    <ion-item>
      <ul>
        <li>Debe tener al menos una letra</li>
        <li>Debe tener al menos un número</li>
        <li>Debe tener de entre 6 a 8 carácteres</li>
      </ul>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repetir contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="passwordForm.invalid">
      Cambiar contraseña
    </ion-button>
  </form>

</ion-content>
